<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Capacity</th>
    <th>Started at</th>
    <th>Ended at</th>
    <th>Pre-registration start time</th>
    <th>Pre-registration end time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.status %></td>
    <td><%= event.capacity %></td>
    <td><%= event.start_time %></td>
    <td><%= event.end_time %></td>
    <td><%= event.preregistration_start_time %></td>
    <td><%= event.preregistration_end_time %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
